<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- NAVIGATION PAGE -->
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="crop_yield">Yield</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="crop_pred">Recommendation</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="pred_yield">Both</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="about_us">About Us</a>
          </li> 
        </form>
      </div>
    </nav>
     <!-- NAVIGATION PAGE -->
    <div class="container w-50">
            <br>
            <h4 class="text-center">Guide : Prof Kavita Kolpe</h4>
        <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Aniket Raut</th>
      <th scope="col">Pratishaw Pawar</th>
      <th scope="col">Vishwajeet Shinde</th>
      <th scope="col">Saloni Suke</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row">aniketraut.rr@gmail.com</td>
      <td>pratiksha1132@gmail.com</td>
      <td>vishwajeetshinde2001@gmail.com</td>
      <td>salonisuke7@gmail.com</td>
    </tr>
  </tbody>
</table>
</div>


</body>
</html>